.a {
  height: 635px;
}

.hrline {
  position: relative;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-radius: 10px;
  background-color: #a5a5a5;
}

.hello {
  text-align: center;
  position: relative;
  top: 25%;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #DFDFDF;
  font-size: 50px;
  font-weight: lighter;
}

.name {
  font-family: 'Caveat', cursive;
  margin-block-start: 0em;
  font-weight: lighter;
  color: #DFDFDF;
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 70px;
}

.dev {
  font-family: 'Caveat', cursive;
  margin-block-start: 0em;
  font-weight: lighter;
  color: #DFDFDF;
  text-align: center;
  position: relative;
  top: 15%;
  font-size: 40px;
}

.span {
  font-family: 'Caveat', cursive;
  margin: 0;
  font-weight: bold;
  color: #DFDFDF;
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 50px;
}

.hi {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  color: #DFDFDF;
  font-weight: lighter;
  display: block;
  position: relative;
  margin: 0;
}

.span1 {
  font-family: 'Caveat', cursive;
  margin-block-start: 0em;
  font-weight: bolder;
  color: #DFDFDF;
  text-align: center;
  position: relative;
  top: 25%;
  font-size: 70px;
}

p {
  text-align: center;
  display: block;
  position: relative;
  top: 20%;
  font-family: 'Nunito', sans-serif;
  color: #AAAAAA;
  font-size: 18px;
}

.rule {
  background-color: transparent;
  border-style: dotted none none none;
  border-width: 8px;
  border-color: #DFDFDF;
  display: inline-block;
  position: absolute;
  top: 90%;
  right: 49%;
  width: 3%;
}

hr {
  background-color: transparent;
  border-style: dotted none none none;
  border-width: 8px;
  border-color: #DFDFDF;
  display: block;
  position: relative;
  top: 45%;
  width: 3%;
}

body {
  margin: 0px;
}

h1 {
  font-family: 'Baloo 2', sans-serif;
  margin-block-start: 0em;

}

.b {
  background-color: #121212;
  position: relative;
  height: 700px;
}

.pic1 {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 19%;
}

h3 {
  font-family: 'Baloo 2', sans-serif;
  margin-block-start: 0em;
  text-align: center;
  display: block;
  position: relative;
  top: 23%;
  font-size: 30px;
}

.c {
  background-color: #121212;
  height: 850px;
  position: relative;
}

.aboutme {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-weight: lighter;
  color: #DFDFDF;
  text-align: center;
  display: block;
  position: relative;
  top: 0%;
  font-size: 50px;
}

.game {
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  color: #BCBCBC;
  text-align: left;
  position: relative;
  top: 2%;
  margin-left: 40%;
  font-size: 20px;
}

.web {
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  color: #BCBCBC;
  text-align: right;
  position: relative;
  top: 9%;
  margin-right: 48%;

  font-size: 20px;
}

.challange {
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  color: #BCBCBC;
  text-align: center;
  position: relative;
  top: 4%;
  font-size: 20px;
}

.g {
  text-align: left;
  display: block;
  margin: 0;
  margin-left: 40%;
  position: relative;
  top: 2%;
  font-family: 'Baloo 2', sans-serif;
  color: #656565;
  font-size: 15px;
}

.w {
  text-align: right;
  display: block;
  margin: 0;
  margin-right: 48%;
  position: relative;
  top: 9%;
  font-family: 'Baloo 2', sans-serif;
  color: #656565;
  font-size: 15px;
}

.ch {
  text-align: center;
  display: block;
  margin: 0;
  position: relative;
  top: 4%;
  font-family: 'Baloo 2', sans-serif;
  color: #656565;
  font-size: 17px;
}

a {
  color: #AAAAAA;
}

.eat {
  display: inline-block;
  color: #DFDFDF;

  font-size: 120px;
  margin-bottom: 1%;
  position: relative;
  left: 47%;
  top: 0%;

}

.gamediv {
  display: block;
  position: relative;
  margin: 0;
  margin-top: 4%;
  margin-right: 6%;
  margin-left: 6%;
}

.webdiv {
  display: block;
  position: relative;
  margin: 0;
  margin-top: 5%;
  margin-right: 6%;
  margin-left: 6%;
}

.gdev {
  margin: 0;
  color: #DFDFDF;
  font-size: 120px;
  display: block;
  position: absolute;
  float: left;
  top: 2%;
  margin-left: 15%;
}

.wdev {
  display: block;
  color: #DFDFDF;
  font-size: 120px;
  top: 5px;
  position: absolute;
  float: right;
  right: 24%;
  margin-left: 15%;
}

.eatdev {
  display: block;
  position: relative;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

.skills {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-weight: lighter;
  color: #DFDFDF;
  text-align: center;
  display: block;
  position: relative;
  top: 10%;
  font-size: 50px;
}

.skillssection {
  width: 70%;
  height: 70%;
  top: 10%;
  display: block;
  position: relative;
  margin-left: 13.5%;
  margin-right: auto;
}

.extraspace {
  height: 0px;

  display: block;
  margin: 0;
  position: relative;
}

.cSkills {
  height: 700px;
  display: block;
  margin: 0;
  position: relative;
}

.sticker {
  height: 100px;
  width: 100px;
  position: absolute;
}

.ue {
  left: 45%;
  top: 35%;
}

.react {
  left: 65%;
  top: 63%;
}

.nodejs {
  left: 75%;
  top: 42%;
}

.mongodb {
  left: 22%;
  top: 42%;
}

.maya {
  left: 93%;
  top: 43%;
}

.js {
  left: 49.5%;
  top: 80%;
}

.html {
  left: 49%;
  top: 10%;
}

.firebase {
  left: 34%;
  top: 63%;
}

.css {
  left: 65%;
  top: 25%;

}

.cpp {
  left: 34%;
  top: 25%;
}

.bootstrap {
  left: 10%;
  top: 22%;
}

.audacity {
  left: 12.5%;
  top: 64%;
}

.d {
  display: block;
  margin: 0;
  position: relative;
  margin-bottom: 10%;
}

.freelance {
  margin: 0;
  margin-top: 8%;
  font-family: 'Caveat', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  color: #DFDFDF;
  margin-bottom: 3%;
}

button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-family: 'Baloo 2', sans-serif;
  font-size: 16px;
  color: #121212;
  height: 50px;
  width: 180px;
  background-color: #BCBCBC;
  border-color: #BCBCBC;
  border-style: solid;
}

a {
  text-decoration: none;
}

.btn:hover {
  background-color: #e1e1e1;
  border-color: #121212;
  border-radius: 50px;
  transition: all 0.6s;
  color: #121212;
  font-size: 18px;
}

.btn:active {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Baloo 2', sans-serif;
  font-size: 15px;
  color: #121212;
  height: 40px;
  width: 150px;
  background-color: #121212;
  border-color: #BCBCBC;
  border-style: solid;
}

.e {
  background-color: #0d0d0d;
  margin: 0;
  position: relative;
  height: 100px;
}

.instagram {
  font-family: 'Baloo 2', sans-serif;
  color: #AAAAAA;
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 1%;
  bottom: 0px;
  text-decoration: none;
}

.instagram:hover {
  color: white;
  transition: all 0.6s;
}

.linkedin {
  font-family: 'Baloo 2', sans-serif;
  color: #BCBCBC;
  ;
  display: inline-block;
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 33%;
  text-decoration: none;
}

.linkedin:hover {
  color: white;
  transition: all 0.6s;
}

.youtube {
  font-family: 'Baloo 2', sans-serif;
  color: #BCBCBC;
  ;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 27%;
  margin: 0;
  text-decoration: none;
}

.youtube:hover {
  color: white;
  transition: all 0.6s;
}

.hire {
  font-family: 'Baloo 2', sans-serif;
  color: #BCBCBC;
  ;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 2%;
  margin: 0;
  text-decoration: none;
}

.hire:hover {
  color: white;
  transition: all 0.6s;
}

.redirect {
  height: 50px;
  position: relative;
  margin: 0;
  margin-left: 30%;
  margin-right: 30%;
}

.copyright {
  display: block;
  position: relative;
  margin: 0;
  color: #BCBCBC;
  margin-left: 10%;
  margin-right: 10%;
  top: 170%;
}

.rights {
  font-size: 10px;
  position: relative;
  display: block;
  margin: 0;
  text-decoration: none;
  bottom: 0px;
}

body {
  background-color: #121212;
}


.copy:hover {
  transition: all 0.6s;
  color: white;
}

@media(max-width: 980px) {
  .a {
    height: 1530px;
  }

  .hrline {
    position: relative;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-radius: 10px;
    background-color: #DFDFDF;
  }

  .hello {
    text-align: center;
    position: relative;
    top: 30%;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #DFDFDF;
    font-size: 100px;
    font-weight: lighter;
  }

  .name {
    font-family: 'Caveat', cursive;
    margin-block-start: 0em;
    font-weight: lighter;
    color: #DFDFDF;
    text-align: center;
    position: relative;
    top: 27%;
    font-size: 150px;
  }

  .dev {
    font-family: 'Caveat', cursive;
    margin-block-start: 0em;
    font-weight: lighter;
    color: #DFDFDF;
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 100px;
  }

  .span {
    font-family: 'Caveat', cursive;
    margin: 0;
    font-weight: bold;
    color: #DFDFDF;
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 120px;
  }

  .b {
    background-color: #121212;
    position: relative;
    height: 1680px;
  }

  .pic1 {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 25%;
  }

  .hi {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    top: 27%;
    color: #DFDFDF;
    font-weight: lighter;
    display: block;
    position: relative;
    margin: 0;
  }

  .describe-p {
    font-size: 40px;
    top: 25%;
  }

  .span1 {
    font-family: 'Caveat', cursive;
    margin-block-start: 0em;
    font-weight: bolder;
    color: #DFDFDF;
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 100px;
  }

  p {
    text-align: center;
    display: block;
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: #AAAAAA;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
  }

  .rule {
    background-color: transparent;
    border-style: dotted none none none;
    border-width: 14px;
    border-color: #DFDFDF;
    display: inline-block;
    position: absolute;
    top: 90%;
    right: 46.5%;
    width: 7%;
  }

  hr {
    background-color: transparent;
    border-style: dotted none none none;
    border-width: 14px;
    border-color: #DFDFDF;
    display: inline-block;
    position: absolute;
    top: -50px;
    right: 46.5%;
    width: 7%;
  }

  body {
    margin: 0px;
  }

  h1 {
    font-family: 'Baloo 2', sans-serif;
    margin-block-start: 0em;

  }



  h3 {
    font-family: 'Baloo 2', sans-serif;
    margin-block-start: 0em;
    text-align: center;
    display: block;
    position: relative;
    top: 23%;
    font-size: 30px;
  }

  .c {
    background-color: #121212;
    height: 1350px;
    position: relative;
  }

  .aboutme {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-weight: lighter;
    color: #DFDFDF;
    text-align: center;
    display: block;
    position: relative;
    top: -50px;
    font-size: 90px;
  }

  a {
    color: #AAAAAA;
  }



  .gamediv {
    display: block;
    position: relative;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
  }

  .gdev {
    color: #DFDFDF;
    font-size: 100px;
    position: absolute;
    left: 43%;
    margin-left: auto;
    margin-right: auto;

  }

  .game {
    font-family: 'Baloo 2', sans-serif;
    color: #BCBCBC;
    display: block;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
    top: 120px;

  }

  .g {
    text-align: center;
    display: block;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 120px;
    font-family: 'Baloo 2', sans-serif;
    color: #656565;
    font-size: 30px;
  }


  .webdiv {
    display: block;
    position: relative;
    margin: 0;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 370px;
  }

  .wdev {
    color: #DFDFDF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    position: absolute;
    left: 46%;
  }

  .web {
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    color: #BCBCBC;
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 34px;
  }

  .w {
    text-align: center;
    display: block;
    margin: 0;
    margin-right: auto;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 121px;
    font-family: 'Baloo 2', sans-serif;
    color: #656565;
    font-size: 30px;
  }

  .eatdev {
    display: block;
    position: relative;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  .eat {
    display: inline-block;
    color: #DFDFDF;

    font-size: 100px;
    margin-bottom: 1%;
    position: relative;
    left: 47%;
    top: 0%;

  }

  .challange {
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    color: #BCBCBC;
    text-align: center;
    position: relative;
    top: 4%;
    font-size: 34px;
  }

  .ch {
    text-align: center;
    display: block;
    margin: 0;
    position: relative;
    top: 4%;
    font-family: 'Baloo 2', sans-serif;
    color: #656565;
    font-size: 30px;
  }

  .skills {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-weight: lighter;
    color: #DFDFDF;
    text-align: center;
    display: block;
    position: relative;
    top: 10%;
    font-size: 80px;
  }

  .skillssection {
    width: 70%;
    height: 70%;
    top: 10%;
    display: block;
    position: relative;
    margin-left: 130px;
    margin-right: auto;
  }

  .extraspace {
    height: 300px;
    display: block;
    margin: 0;
    position: relative;
  }

  .cSkills {
    height: 700px;
    display: block;
    margin: 0;
    position: relative;
  }

  .sticker {
    height: 100px;
    width: 100px;
    position: absolute;
  }

  .d {
    display: block;
    margin: 0;
    position: relative;
    margin-bottom: 10%;
  }


  .freelance {
    margin: 0;
    margin-top: 8%;
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    font-size: 70px;
    color: #DFDFDF;
    margin-bottom: 3%;
  }

  button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: 'Baloo 2', sans-serif;
    font-size: 16px;
    color: #121212;
    height: 50px;
    width: 180px;
    background-color: #BCBCBC;
    border-color: #BCBCBC;
    border-style: solid;
  }

  a {
    text-decoration: none;
  }

  .btn:hover {
    background-color: #e1e1e1;
    border-color: #121212;
    border-radius: 50px;
    transition: all 0.6s;
    color: #121212;
    font-size: 18px;
  }

  .btn:active {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Baloo 2', sans-serif;
    font-size: 15px;
    color: #121212;
    height: 40px;
    width: 150px;
    background-color: #121212;
    border-color: #BCBCBC;
    border-style: solid;
  }

  .e {
    background-color: #0d0d0d;
    margin: 0;
    position: relative;
    height: 100px;
  }

  .instagram {
    font-family: 'Baloo 2', sans-serif;
    color: #AAAAAA;
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 1%;
    bottom: 0px;
    text-decoration: none;
  }

  .instagram:hover {
    color: white;
    transition: all 0.6s;
  }

  .linkedin {
    font-family: 'Baloo 2', sans-serif;
    color: #BCBCBC;
    ;
    display: inline-block;
    position: absolute;
    margin: 0;
    bottom: 0px;
    left: 33%;
    text-decoration: none;
  }

  .linkedin:hover {
    color: white;
    transition: all 0.6s;
  }

  .youtube {
    font-family: 'Baloo 2', sans-serif;
    color: #BCBCBC;
    ;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 27%;
    margin: 0;
    text-decoration: none;
  }

  .youtube:hover {
    color: white;
    transition: all 0.6s;
  }

  .hire {
    font-family: 'Baloo 2', sans-serif;
    color: #BCBCBC;
    ;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 2%;
    margin: 0;
    text-decoration: none;
  }

  .hire:hover {
    color: white;
    transition: all 0.6s;
  }

  .redirect {
    height: 50px;
    position: relative;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
  }

  .copyright {
    display: block;
    position: relative;
    margin: 0;
    color: #BCBCBC;
    margin-left: 10%;
    margin-right: 10%;
    top: 170%;
  }

  .rights {
    font-size: 10px;
    position: relative;
    display: block;
    margin: 0;
    text-decoration: none;
    bottom: 0px;
  }

  body {
    background-color: #121212;
  }


  .copy:hover {
    transition: all 0.6s;
    color: white;
  }


}